Project 2 file (log)

In [1]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_be6f4fa68fac4ba38b4601d01ae96225 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='BbSJ11HmLNgBr08QZYBSJ6WcajnVVvGDU3WtK8dBz4F3',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.eu-geo.objectstorage.service.networklayer.com')

body = client_be6f4fa68fac4ba38b4601d01ae96225.get_object(Bucket='project2-donotdelete-pr-jkzjgrcqjnjkd5',Key='Log.xlsx')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_0 = pd.read_excel(body)
df_data_0.head()

,Company,Job Role,Application Stage,Action Required?,Accepted or Rejected,Password requirements,Number of applications in play
0,PWC,Graduate Consulting Economics,Done 2nd Test,NO,REJECTED,NaN,20.0
1,BAILLIE GIFFORD,Business Operations,APPLIED - FIRST STEP,NO,REJECTED,NaN,NaN
2,CAPITA,Data Analyst,APPLIED - FIRST STEP,NO,IN PLAY,NaN,NaN
3,Pareto,Data Analyst,APPLIED - FIRST STEP,NO,IN PLAY,NaN,NaN
4,Deloitte,"Strategy, Analytics and Mergers & Acquisitions",DONE INTERVIEW,NO,REJECTED,NaN,NaN